*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #e04646;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px 2px #333;
  }
  
  .container {
    
    margin: 25px;
  }
  
  .movies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 20px;
  }
  .movie-card {
    padding: 15px;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0 2px 8px 2px #443344;
    background-color: aliceblue;
    
  }
  .movie-card img{
    margin-bottom: 10px;
    padding: 15px;
    height: 400px;
    width:350px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px #333033;
    background-color: white;
  }
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  